@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

:root {
    --Main-blue: #0079ff;
    --Light-grey: #697c9a;
    --Light-grey-blue: #4b6a9b;
    --Dark-grey: #2b3442;
    --Dark-grey-blue: #141d2f;
    --Dark-blue: #1e2a47;
    --Error-red: #f74646;
    --Background-grey: #f2f2f2;
    --App-white: #fefefe;
}

body,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    display: flex;
}

a {
    background-color: transparent;
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 26px;
    font-weight: bold;
    line-height: 38px;
}

h2 {
    font-size: 22px;
    font-weight: bold;
    line-height: 33px;
}

h3 {
    font-size: 16px;
    line-height: 24px;
}

h4 {
    font-size: 13px;
    line-height: 20px;
}

.app {
    align-items: center;
    background-color: var(--Background-grey);
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding: 10px 100px;
    width: 100vw;
}

.app.dark {
    background-color: var(--Dark-grey-blue);
    color: #fff;
}

.wrapper {
    max-width: 50vw;
    min-width: 50vw;
}

/*STRAPLINE*/

.strapline {
    align-items: center;
    display: flex;
    height: 38px;
    justify-content: space-between;
    width: 100%;
}

.mode {
    align-items: center;
    color: var(--Dark-grey-blue);
    display: flex;
    flex-direction: row;
    height: 20px;
    justify-content: space-between;
    opacity: 70%;
    width: fit-content;
}

.mode.dark {
    color: #fff;
}

.mode:hover {
    opacity: 100%;
}

.dark-light {
    height: 20px;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 2.5px;
    margin-right: 1rem;
    text-align: right;
    width: 40px;
}

.sun-moon {
    background-color: transparent;
    border-radius: 100%;
    filter: brightness(0) saturate(100%) invert(9%) sepia(36%) saturate(850%)
        hue-rotate(182deg) brightness(94%) contrast(96%)
        drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    max-height: 20px;
    max-width: 20px;
}

.sun-moon.dark {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%)
        hue-rotate(283deg) brightness(110%) contrast(101%);
}

/*SEARCH BAR*/

.search-bar {
    align-items: center;
    background-color: var(--App-white);
    border: transparent 1px solid;
    border-radius: 15px;
    box-shadow: 0 16px 30px -10px rgba(70, 96, 187, 0.198567);
    display: flex;
    flex-direction: row;
    height: 69px;
    justify-content: space-between;
    margin-top: 36px;
    padding: 4px 10px 4px 35px;
    width: 100%;
}

.search-bar.dark {
    background-color: var(--Dark-blue);
}

.search-username {
    align-items: center;
    background-color: inherit;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.user-input {
    background-color: inherit;
    border: none;
    min-width: 60%;
    outline: none;
}

.user-input.dark {
    color: #fff;
}

.user-input.dark::placeholder {
    color: #fff;
    opacity: 100%;
}

.error-message {
    color: var(--Error-red);
    font-weight: bold;
    text-align: right;
}

.search {
    align-items: center;
    background-color: var(--Main-blue);
    border: none;
    border-radius: 10px;
    color: #fff;
    display: flex;
    font-size: 1rem;
    font-weight: 700;
    height: 50px;
    justify-content: center;
    width: 100px;
}

.search:hover {
    opacity: 75%;
}

/*USER INFO BLOCK*/

.user-info {
    background-color: var(--App-white);
    border: transparent 1px solid;
    border-radius: 15px;
    box-shadow: 0 16px 30px -10px rgba(70, 96, 187, 0.198567);
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    padding: 44px;
}

.user-info.dark {
    background-color: var(--Dark-blue);
}

.info-top {
    display: flex;
    flex-direction: row;
    height: 65px;
}

.info-left {
    background-color: inherit;
    margin-right: 40px;
    overflow: visible;
    width: 120px;
}

.user-avatar {
    border-radius: 100%;
    height: 120px;
    width: 120px;
}

.info-right {
    background-color: inherit;
    display: flex;
    flex-direction: row;
    height: fit-content;
    justify-content: space-between;
    width: 100%;
}

.name-login {
    background-color: inherit;
}

.user-name {
    background-color: inherit;
    color: var(--Dark-grey);
}

.user-login {
    background-color: inherit;
    color: var(--Main-blue);
}

.user-joined {
    background-color: inherit;
    color: var(--Light-grey);
    height: 22px;
    text-align: right;
    width: fit-content;
}

.user-name.dark,
.user-joined.dark {
    color: #fff;
}

.user-data {
    background-color: transparent;
    margin-top: 37px;
    padding-left: 160px;
}

.user-bio {
    background-color: inherit;
    color: var(--Light-grey-blue);
    height: fit-content;
    min-height: 28px;
    width: 100%;
}

.user-bio.dark {
    color: #fff;
}

/*___Repo figures block___*/

.user-figures {
    align-items: center;
    background-color: var(--Background-grey);
    border-radius: 10px;
    color: var(--Light-grey-blue);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 32px;
    padding: 15px 0 17px 0;
}

.user-figures.dark {
    background-color: var(--Dark-grey-blue);
    color: #fff;
}

.user-figures.dark p {
    color: #fff;
}

.figure {
    color: var(--Dark-grey);
    font-weight: 700;
}

/*___links block___*/

.user-links {
    background-color: inherit;
    column-gap: 4px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 4px;
    text-align: left;
    margin-top: 32px;
}

.link {
    align-items: center;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    line-height: 22px;
    margin: 7.5px 0;
    overflow-wrap: break-all;
}

.n-a {
    opacity: 0.5;
}

.icon {
    background-color: transparent;
    font-weight: 700;
    margin-right: 1rem;
    max-height: 20px;
    max-width: 20px;

    filter: brightness(0) saturate(100%) invert(40%) sepia(9%) saturate(2718%)
        hue-rotate(178deg) brightness(94%) contrast(83%);
}

.icon.dark {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%)
        hue-rotate(283deg) brightness(110%) contrast(101%);
}

.location {
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 1;
    grid-row-end: 2;

    margin-right: 4px;
}

.twitter {
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 1;
    grid-row-end: 2;
}

.blog {
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 2;
    grid-row-end: 3;

    margin-right: 4px;
}

.html-url {
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 2;
    grid-row-end: 3;
}

@media only screen and (max-width: 1250px) {
    .wrapper {
        min-width: 55vw;
        max-width: 55vw;
    }
}

@media only screen and (max-width: 1200px) {
    .wrapper {
        min-width: 60vw;
        max-width: 60vw;
    }
}

@media only screen and (max-width: 1000px) {
    .wrapper {
        min-width: 75vw;
        max-width: 75vw;
    }

    .info-top {
        height: fit-content;
    }

    .info-right {
        align-items: left;
        justify-content: center;
        flex-direction: column;
        min-height: 120px;
    }

    .user-login {
        margin: 4px 0;
    }

    .user-data {
        margin-top: 37px;
        padding: 0;
    }
}

/*TABLET*/
@media only screen and (max-width: 770) {
    .user-login {
        line-height: 1.5rem;
    }

    .user-joined {
        font-size: 0.95rem;
        line-height: 1.4rem;
        margin-top: 4px;
    }

    .user-info {
        margin-top: 16px;
        padding: 32px 24px;
    }

    .user-figures {
        margin-top: 24px;
        padding: 18px 14px;
    }

    .user-links {
        margin-top: 24px;
    }
}

/* MOBILE */
@media only screen and (max-width: 629px) {
    .app {
        padding: 31px 24px;
    }
    .wrapper {
        max-width: 100%;
        min-width: 100%;
    }
    .search-bar {
        font-size: 0.88rem;
        padding: 0 8px;
    }
    .magnifier.icon {
        margin: 0 8px 0 0;
    }
    .user-input {
        font-size: 0.8rem;
    }

    .search {
        height: 46px;
        width: 84px;
    }

    .info-left {
        margin-right: 1rem;
        width: 70px;
    }

    .user-avatar {
        height: 70px;
        width: 70px;
    }

    .info-right {
        min-height: 0;
    }

    .user-name {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .user-login,
    .user-joined {
        font-size: 0.8rem;
        line-height: 1rem;
    }

    .user-joined {
        height: 0.8rem;
    }

    .user-bio {
        font-size: 0.8rem;
        line-height: 1.5rem;
    }

    .user-figures {
        font-size: 0.7rem;
    }

    .figure {
        font-size: 1rem;
    }

    .uf {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .user-links,
    .user-figures {
        margin-top: 24px;
    }

    .user-links {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .location {
        grid-column-start: 1;
        grid-column-end: 2;

        grid-row-start: 1;
        grid-row-end: 2;
    }

    .blog {
        grid-column-start: 1;
        grid-column-end: 2;

        grid-row-start: 2;
        grid-row-end: 3;
    }

    .twitter {
        grid-column-start: 1;
        grid-column-end: 2;

        grid-row-start: 3;
        grid-row-end: 4;
    }

    .html-url {
        grid-column-start: 1;
        grid-column-end: 2;

        grid-row-start: 4;
        grid-row-end: 5;
    }

    .link {
        font-size: 0.8rem;
        padding: 0;
    }
}

@media only screen and (max-width: 390px) {
    .search-bar {
        padding: 0 4px;
    }
    .search {
        font-size: 0.8rem;
        height: 41px;
        width: 74px;
    }
}

@media only screen and (max-width: 360px) {
    .search-bar {
        height: fit-content;
        margin-top: 16px;
        overflow: hidden;
        padding: 8px;
    }

    .search-username {
        align-items: flex-start;
        flex-direction: column;
        margin: 0 4px;
        max-width: 100%;
    }

    .user-input {
        font-size: 0.8rem;
        height: fit-content;
        margin-bottom: 8px;
        max-width: 100%;
        min-width: 100%;
    }

    .search {
        font-size: 0.7rem;
        height: 35px;
        width: 65px;
    }

    .user-info {
        font-size: 0.8rem;
        margin-top: 10px;
        padding: 10px;
    }

    .info-left {
        margin: 0;
        width: 75px;
    }

    .user-avatar {
        height: 75px;
        width: 75px;
    }
    .info-right {
        padding: 0 4px;
        text-align: right;
        width: 100%;
    }

    .name-login {
        width: 100%;
    }

    .user-name {
        font-size: 1rem;
    }
    .user-login {
        font-size: 0.6rem;
    }

    .user-joined {
        font-size: 0.6rem;
        width: 100%;
    }

    .user-bio {
        line-height: 1.25rem;
    }

    .user-figures {
        flex-direction: column;
        margin-top: 16px;
        padding: 4px;
    }
}
