@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

:root {
    --Main-blue: #0079ff;
    --Light-grey: #697c9a;
    --Light-grey-blue: #4b6a9b;
    --Dark-grey: #2b3442;
    --Dark-grey-blue: #141d2f;
    --Dark-blue: #1e2a47;
    --Error-red: #f74646;
    --Background-grey: #f6f8ff;
    --App-white: #fefefe;
}

body,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--Background-grey);
}

a {
    text-decoration: none;
    color: inherit;
    background-color: transparent;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-weight: bold;
    font-size: 26px;
    line-height: 38px;
}

h2 {
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
}

h3 {
    font-size: 16px;
    line-height: 24px;
}

h4 {
    font-size: 13px;
    line-height: 20px;
}

.app {
    position: relative;
    width: 1440px;
    height: 900px;
}

.wrapper {
    min-height: 590px;
    width: 730px;
    position: absolute;
    top: 144px;
    left: 355px;
}

.n-a {
    opacity: 0.5;
}

/*STRAPLINE*/

.strapline {
    width: 100%;
    height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.devfinder {
    /* remove when done */
}

.mode {
    width: 78px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--Light-grey);
}

.dark {
    height: 20px;
    margin-right: 1rem;
    width: 40px;
    font-weight: 700;
    font-size: 13px;
    line-height: 19px;
    text-align: right;
    letter-spacing: 2.5px;
}

.moon {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: transparent;
    filter: invert(51%) sepia(25%) saturate(496%) hue-rotate(177deg)
        brightness(88%) contrast(80%)
        drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*SEARCH BAR*/

.search-bar {
    width: 100%;
    margin-top: 36px;
    height: 69px;
    border: transparent 1px solid;
    border-radius: 15px;
    box-shadow: 0 16px 30px -10px rgba(70, 96, 187, 0.198567);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 35px;
    background-color: var(--App-white);
}

.search-username {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: inherit;
}
.user-input {
    width: fit-content;
    min-width: 200px;
    border: none;
    outline: none;
    background-color: inherit;
}

.error-message {
    color: var(--Error-red);
    font-weight: bold;
    text-align: right;
}

.search {
    align-items: center;
    background-color: var(--Main-blue);
    border: none;
    border-radius: 10px;
    color: #fff;
    display: flex;
    font-weight: 700;
    height: 50px;
    justify-content: center;
    width: 100px;
}

/*USER INFO BLOCK*/

.user-info {
    display: flex;
    flex-direction: row;
    margin-top: 24px;
    padding: 44px;
    border: transparent 1px solid;
    border-radius: 15px;
    box-shadow: 0 16px 30px -10px rgba(70, 96, 187, 0.198567);
    background-color: var(--App-white);
}

.info-left {
    flex: 0 0 200px;
    display: flex;
    justify-content: center;
    background-color: inherit;
}

.user-avatar {
    height: 117px;
    width: 117px;
    border-radius: 100%;
}

.info-right {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    margin-right: 48px;
    background-color: inherit;
}

.user-strapline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: inherit;
}

.us-left {
    width: 176px;
    background-color: inherit;
}

.user-name {
    color: var(--Dark-grey);
    background-color: inherit;
}

.user-login {
    color: var(--Main-blue);
    background-color: inherit;
}

.user-joined {
    width: fit-content;
    height: 22px;
    text-align: right;
    color: var(--Light-grey);
    background-color: inherit;
}

.user-bio {
    width: 100%;
    height: fit-content;
    min-height: 28px;
    margin-top: 20px;
    color: var(--Light-grey-blue);
    background-color: inherit;
}

.user-data {
    margin-top: 32px;
    background-color: var(--App-white);
}

.user-figures {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 85px;
    border-radius: 10px;
}

.figure {
    font-weight: 700;
}

.user-links {
    margin-top: 32px;
    text-align: left;
    background-color: var(--App-white);
}
.ul-top,
.ul-bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--App-white);
}

.ul-top {
    margin-bottom: 21px;
}

.link {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--App-white);
}

.link p,
.link a {
    background-color: transparent;
    color: var(--Light-grey-blue);
}

.icon {
    background-color: transparent;
    font-weight: 700;
    max-height: 20px;
    max-width: 20px;
    margin-right: 1rem;
}

.twitter {
    filter: invert(40%) sepia(9%) saturate(2718%) hue-rotate(178deg)
        brightness(94%) contrast(83%);
}

.twitter .n-a {
    filter: invert(40%) sepia(15%) saturate(1469%) hue-rotate(178deg)
        brightness(96%) contrast(91%);
}
